{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<v:condition.type.isArray value="{tree}">
	<f:then>
		{arguments -> f:count() -> v:math.subtract(b: 1) -> v:variable.set(name: 'index')}
		<div class="viewhelper-group{f:if(condition: sub, else: ' root')}">
			<f:if condition="{sub}">
				<ul class="nav nav-pills nav-stacked viewhelper-group-toggle">
					<li>
						<a href="javascript:;" class="toggle" id="{key}"><i class="glyphicon glyphicon-folder folder-icon fa fa-folder-o"></i> {key}</a>
					</li>
				</ul>
			</f:if>
			<ul class="nav nav-pills nav-stacked viewhelper-group-tree">
				<f:for each="{tree}" as="branch" key="folder">
					{folder -> v:variable.set(name: 'arguments.p{index}')}
					<li>
						<f:render partial="Index" arguments="{tree: branch, extensionKey: extensionKey, version: version, arguments: arguments, key: folder, sub: 1}" />
					</li>
				</f:for>
			</ul>
		</div>
	</f:then>
	<f:else>
		{arguments -> f:count() -> v:math.subtract(b: 2) -> v:variable.set(name: 'index')}
		{tree -> v:variable.set(name: 'arguments.p{index}')}
		{tree -> v:format.substring(length: '-10') -> v:variable.set(name: 'text')}
		<f:render partial="Link" arguments="{arguments: arguments, text: text, icon: '0'}" />
	</f:else>
</v:condition.type.isArray>
