.form-selectors label.inline {
	display: inline-block;
	padding-left: 1em;
}
.form-selectors select {
	width: 49%;
}
.form-selectors input {
	width: 95%;
}
.nav-list.viewhelper-group-tree {
	padding-left: 0px;
}
.viewhelper-group-tree .viewhelper-group-tree {
	display: none;
	padding-left: 15px;

}
span.alert {
	display: block;
}
pre.prettyprint ol.linenums {
	margin: 0px 0px 0px 40px;
}
pre.prettyprint ol.linenums li {
	margin-bottom: 4px;
	font-size: 12px;
}
.argument-type, .argument-default-value {
	width: 20%;
}
.extension-statistics .thumbnail {
	width:  100px;
	margin-left: 0px;
	margin-right: 2em;
}
.extension-statistics p {
	text-align: center;
	display: block;
}
.extension-statistics h1 {
	font-size:  50px;
	line-height: 40px;
	color:  #555555;
	text-align: center;
	margin-bottom: 8px;
}
.viewhelper-group-toggle {
	cursor: pointer;
	margin-bottom: 0px;
}
.viewhelper-group-toggle:hover {
	color: #005580;
}
ul.examples li {
	margin-bottom: 1em;

}
ul.examples code {
	color: inherit;
	list-style-type: none;
	white-space: normal;
	display: list-item;
}